/* Background and Header */
:root {
    --main-bg-color: #353535;
    --primary-h1-color: #FFFFFF;
    --primary-h2-color: #353535;
    --primary-p-color: #353535;
    --font-family: Inter, sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-h1-color);
}

/* Cards */

h2 {
    font-size: 64px;
    color: var(--primary-h2-color);
}