:root {
    --main-bg-color: #353535;
    --primary-header-color: #FFFFFF;
    --primary-copy-color: #353535;
    --font-family: "Inter", sans-serif;
}
body {
    background-color: var(--main-bg-color);
    color: var(--primary-header-color);
    font-family: var(--font-family);
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-weight: 800;
    display: flex;
    width: 1440px;
    padding: 100px 64px 64px 64px;
    align-items: center;
    margin: 0;
}
h3 {
    margin: 0;
}
.container {
    display: flex;
    width: 1440px;
    padding: 0px 64px 0px 64px;
    gap: 48px;
    align-items: flex-start;
}
/* Main Card */
.column {
    width: 392px;
    display: flex;
    align-items: flex-start;
}
.main-card {
    display: flex;
    padding: 59px 53px 42px 52px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
    background-color: #B5B5B5;
    color: var(--primary-copy-color);
}
#main-title {
    font-size: 64px;
    margin: 0 auto;
}
#main-planet {
    width: 287px;
    height: 287px;
    border-radius: 287px;
    background-color: #FFFFFF;
}
#main-copy {
    font-size: 32px;
    color: var(--primary-copy-color);
    margin: 0 auto;
}
/* Little Cards */
.row {
    display: flex;
    width: 856px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 50px 48px;
    flex-wrap: wrap;
}
.little-card {
    width: 120px;
    display: flex;
    padding: 52px 29px 31px 29px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background-color: #B5B5B5;
}
#little-planet {
    width: 96px;
    height: 96px;
    border-radius: 96px;
    background-color: #FFFFFF;
}
#paragraph {
    text-align: center;
}
#little-title {
    font-size: 24px;
    color: var(--primary-copy-color);
    margin-bottom: 4px;
}
#little-copy {
    font-size: 20px;
    color: var(--primary-copy-color);
    margin: 0 auto;
}